@import "reset.scss";
body {
    font-family: "Open Sans Condensed";
    font-weight: 700;
    color: white;
    background: #333333;
}

.grid {
        display: grid;
        grid-template: 1fr / repeat(12, 65px);
        gap: 30px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(77px, auto) /minmax(auto, 150px) 1fr minmax(auto, 1110px) 1fr;
    grid-template-areas: 
        "aside . header ."
        "aside . main ."
        "footer footer footer footer";
}

.aside {
    
    height: 100%;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(51, 51, 51, 0.75);
    writing-mode: vertical-rl;
        &__content {
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
        }
        &__text{
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            transform: rotate(180deg);
            margin: 0px 59px 40px;
        }
        &__border{
            margin: 0px 75px 40px;
        }
        &__logo{
            display: flex;
            align-items: center;
            a:not(:last-child) {
                margin-bottom: 30px;
            }
            &:last-child{
                margin-bottom: 90px;
            }
            
        }
}

.title {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.subtitle {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.button {
    background: #D1A954;
    padding: 13px 47px;
}

.link {
            font-weight: bold;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
}

// --------------------- Header

.header {
    grid-area: header;
        width: 100%;
		&__menu {
            z-index: 1;
            display: grid;
            grid-template: 1fr / repeat(12, 65px);
            gap: 30px;
            margin-top: 56px;
        }
		
}
.menu {

		&__list {
            display: flex;
            grid-column: 1 / 10;
            justify-content: space-between;
		}

		&__link {
            margin-right: 20px;
            
		}

		&__nubmer {
            grid-column: 11/ 13;
            text-align: right;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.05em;
                span {
                    padding-bottom: 5px;
                    border-bottom: 2px solid #D1A954;
                }
            
		}
}

// ----------- main
.main {
        grid-area: main;
        grid-template-rows: repeat(6, 1fr);
        &__backgraund {
            position: absolute;
            width: 100%;
            height: 1045px;
            top: 0;
            left: 0;
            object-fit: cover;
            z-index: -999;
        }
}

.page {
    
    &__theater {
        margin-top: 100px;
        align-items: center;
    }
}

// ------------Theater
.theater {
    margin-bottom: 520px;
    &__content {
        grid-column: 1/7;
    }

    &__title {

        &_main {
            font-weight: bold;
            font-size: 64px;
            line-height: 87px;
            font-weight: bold;
            margin-bottom: 50px
        }
    }

    &__subtitle {
        margin-bottom: 49px;
    }

    &__image {
        grid-column: 8 / 12;
        text-align: center;
        position: relative;
        background-position: 50px 65px;
    
    }
}



// -------------about

.about {
    
    &__content {

        &_title {
        }

        &_subtitle {
        }

        &_number {
        }
    }

    &__image {

        &_active {
        }
    }
}

.nubmer {

    &__title {
    }

    &__column {

        &_img {
        }

        &_text {
        }
    }
}


