@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Open Sans Condensed";
  font-weight: 700;
  color: white;
  background: #333333;
}

span {
  color: #D1A954;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (65px)[12];
      grid-template: 1fr/repeat(12, 65px);
  gap: 30px;
}

.wrapper {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(100px, auto) 1fr minmax(77px, auto);
  -ms-grid-columns: minmax(auto, 150px) 1fr minmax(auto, 1110px) 1fr;
      grid-template: minmax(100px, auto) 1fr minmax(77px, auto)/minmax(auto, 150px) 1fr minmax(auto, 1110px) 1fr;
      grid-template-areas: "aside . header ." "aside . main ." "footer footer footer footer";
}

.aside {
  height: 100%;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(51, 51, 51, 0.75);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.aside__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.aside__text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin: 0px 59px 40px;
}

.aside__border {
  margin: 0px 75px 40px;
}

.aside__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside__logo a:not(:last-child) {
  margin-bottom: 30px;
}

.aside__logo:last-child {
  margin-bottom: 90px;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title-about {
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.subtitle {
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.button {
  background: #D1A954;
  padding: 13px 47px;
}

.link {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header;
  width: 100%;
}

.header__menu {
  z-index: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (65px)[12];
      grid-template: 1fr/repeat(12, 65px);
  gap: 30px;
  margin-top: 56px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  -ms-grid-column-span: 9;
  grid-column: 1 / 10;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  margin-right: 20px;
}

.menu__nubmer {
  -ms-grid-column: 11;
  -ms-grid-column-span: 2;
  grid-column: 11/ 13;
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.menu__nubmer span {
  color: inherit;
  padding-bottom: 5px;
  border-bottom: 2px solid #D1A954;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: main;
}

.main__backgraund {
  position: absolute;
  width: 100%;
  height: 1045px;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -999;
}

.page__theater {
  margin-top: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__about {
  padding-bottom: 150px;
}

.theater {
  margin-bottom: 520px;
}

.theater__content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}

.theater__title_main {
  font-weight: bold;
  font-size: 64px;
  line-height: 87px;
  font-weight: bold;
  margin-bottom: 50px;
}

.theater__subtitle {
  margin-bottom: 49px;
}

.theater__image {
  -ms-grid-column: 8;
  -ms-grid-column-span: 4;
  grid-column: 8 / 12;
  text-align: center;
  position: relative;
  background-position: 50px 65px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title:first-letter {
  color: #D1A954;
}

.about__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (65px)[12];
      grid-template: 1fr/repeat(12, 65px);
  gap: 30px;
}

.about__best {
  grid-column: span 5;
}

.about__number {
  -ms-grid-column: 6;
  -ms-grid-column-span: 3;
  grid-column: 6 / 9;
}

.about__image {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / 13;
}

.about__image_active {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.nubmer__column:not(:last-child) {
  margin-bottom: 25px;
}

.nubmer__column_img {
  margin-bottom: 15px;
}

.productions__title {
  text-align: center;
  margin-bottom: 100px;
}

.productions__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (450px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 450px);
  -ms-grid-rows: 550px 550px;
      grid-template-rows: 550px 550px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productions__card {
  position: relative;
}

.card__image {
  position: relative;
  z-index: -20;
  width: 442px;
  height: 550px;
}

.card__text {
  z-index: 30;
}

.card__text_top {
  position: absolute;
  top: 40px;
  left: 40px;
}

.card__text_bot {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  position: absolute;
  bottom: 40px;
  left: 40px;
}
